body{
    background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;

}

.col{
    /* background-color: #F8F9FA; */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 40px;
    padding: 15px 20px;
}
.table{
    background: none;
}